<form Action="@Url.Action("Ahorcado", "Home")" method="get">
    Arriesgar Letra: <input type="text" name="charArriesgado" maxlength="1" style="text-transform:uppercase">
     <button type="submit">Enviar Letra</button>
    <br>
    Arriesgar Palabra: <input type="text" name="stringArriesgado" style="text-transform:uppercase">
    <button type="submit">Enviar Palabra</button>
</form>